<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
 
<head>
    <title>NEED Dashboard</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <meta http-equiv="refresh" content="2"/>
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul>
                    <li class="pull-left" role="presentation" id="active"><a href="/">Home</a></li>
                    <li class="pull-left" role="presentation"><a href="/flows">Active flows</a></li>
                    <li class="pull-left" role="presentation"><a href="/graph">Graph</a></li>
                    <li class="pull-right" role="presentation"><a href="/stop">STOP</a></li>
                    <li class="pull-right" role="presentation"><a href="/start">START</a></li>
                </ul>
            </nav>
        </div>

        {% if stopping %}
        <div class="header half">
            {% if lost >= 0 %}
            <p>Experiment stopped.</p>
            <p>Lost metadata:{{'%0.3f'| format(lost*100|float)}}%</p>
            {% else %}
            <p>Stopping experiment...</p>
            {% endif %}
        </div>
        {% endif %}

        <div class="main">
            <div class="container">
                <table>
                    <tr>
                        <th>Hostname</th>
                        <th>Address</th>
                        <th>Status</th>
                    </tr>
                    {% for key, host in hosts.items() %}
                    <tr>
                        <td>{{host.name}}</td>
                        <td>{{host.ip}}</td>
                        <td>{{host.status}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
 
        <footer class="footer">
            <p>NEED 2018</p>
        </footer>
 
    </div>
</body>
 
</html>
