<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
 
<head>
    <title>NEED Dashboard</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <meta http-equiv="refresh" content="2"/>
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul>
                    <li class="pull-left" role="presentation" id="active"><a href="/">Home</a></li>
                    <li class="pull-right" role="presentation"><a href="/stop">STOP</a></li>
                </ul>
            </nav>
        </div>

        {% if failed %}
        <div class="header half">
            <p>An error occurred while stopping the experiment, please try again</p>
        </div>
        {% endif %}

        {% if stopping %}
        <div class="header half">
            {% if lost >= 0 %}
                <p>Experiment stopped. Lost metadata:{{lost*100}}%</p>
            {% else %}
            <p>Stopping experiment...</p>
            {% endif %}
        </div>
        {% endif %}

        <div class="main">
            <div class="container">
                <table>
                    <tr>
                        <th>Hostname</th>
                        <th>Up</th>
                    </tr>
                    {% for key, host in hosts.items() %}
                    <tr>
                        <td>{{host.name}}</td>
                        <td>{{host.ip}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
 
        <footer class="footer">
            <p>NEED 2018</p>
        </footer>
 
    </div>
</body>
 
</html>
